.navbar{
    background-color: aquamarine;
}
a{
    background-color: blanchedalmond;
}
.navbar-brand{
    background-color: aquamarine;
}
.nav-link{
    background-color: blue;
}
body{
    background-color: blue;
}